html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
}

.app {
	background: var(--gray-50);
}



.app-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: var(--gray-100);
	z-index: 100;
	opacity: .5;
}

.app-sidebar {
	display: flex;
	flex-direction: column;
	min-width: 265px;
	max-width: 265px;
	background: var(--white);
	border-right: 1px solid var(--gray-200);
	margin-left: -266px;
	transition: margin .15s linear;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 101;
}

[dir="rtl"] .app-sidebar {
	margin-left: initial;
	left: initial;
	right: 0;
	margin-right: -266px;
}

[dir="rtl"] [data-theme-style="dark"] .app-sidebar {
	border-right: 0;
	border-left: 1px solid var(--gray-200);
}

body.app-sidebar-opened .app-sidebar {
	margin-left: 0;
}

[dir="rtl"] body.app-sidebar-opened .app-sidebar {
	margin-right: 0;
}

@media (min-width: 992px) {
	.app-sidebar {
		margin-left: 0;
	}

	[dir="rtl"] .app-sidebar {
		margin-right: 0;
	}
}

.app-sidebar-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	height: 75px;
}

.app-sidebar-title a {
	font-size: 1.4rem;
	color: var(--gray-900);
	font-weight: 600;
}

.app-sidebar-title a:hover {
	text-decoration: none;
}

.app-sidebar-footer {
	width: 100%;
}

.app-sidebar-footer > a {
	width: 100%;
	padding: .75rem 1.75rem;
	border-top: 1px solid var(--gray-200);
	display: flex;
	align-items: center;
	color: var(--gray-500);
	font-size: .9rem;
	font-weight: 500;
	transition: background .3s;
	border-radius: var(--border-radius);
}

.app-sidebar-footer > a:hover {
	text-decoration: none;
	background: var(--gray-200);
	color: var(--gray-600);
}

.app-sidebar-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.app-sidebar-links > .divider-wrapper {
	width: 100%;
	padding: 0 calc(0.75rem - 6px) 0 0.75rem;
	margin: .25rem 0;
}

.app-sidebar-links > .divider-wrapper > .divider {
	border-top: 1px solid var(--gray-100);
}

.app-sidebar-links > li {
	width: 100%;
	padding: 0.25rem 0.75rem 0.5rem 0.75rem;
}

.app-sidebar-links > li > a {
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--gray-600);
	border-radius: var(--border-radius);
	padding: 0.75rem 1rem;
	transition: background .3s;
	font-size: .9rem;
	font-weight: 500;
}

.app-sidebar-links > li > a:hover {
	text-decoration: none;
	background: var(--gray-200);
	color: var(--gray-700);
}

[data-theme-style="dark"] .app-sidebar-links > li > a:hover {
	background: var(--gray-100);
	color: var(--gray-800);
}

.app-sidebar-links > li.active > a:not(.default) {
	background: var(--primary);
	color: var(--white);
	font-weight: 500;
}

[data-theme-style="dark"] .app-sidebar-links > li.active > a:not(.default) {
	background: var(--primary);
	color: var(--black);
}

.app-sidebar-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.app-sidebar-footer-block {
	max-width: 100%;
}

.app-sidebar-footer-text {
	color: var(--gray-600);
}

.app-content {
	background: var(--gray-50);
	margin-left: 0;
	flex-grow: 1;
	/*overflow: auto;*/
}

[dir="rtl"] .app-content {
	margin-left: initial;
	margin-right: 0;
}

@media (min-width: 992px) {
	.app-content {
		margin-left: 265px;
	}
	[dir="rtl"] .app-content {
		margin-left: initial;
		margin-right: 265px;
	}
}

.app-navbar {
	min-height: 75px;
	border-bottom: 1px solid var(--gray-200);
}

[data-theme-style="dark"] .app-navbar {
	border-color: var(--gray-200);
}

[data-theme-style="dark"] .app-navbar {
	border-color: var(--gray-200);
}

/* Dropdown */
.dropdown-item {
	color: var(--gray-800);
	font-weight: 450;
	font-size: .9rem;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	border-radius: var(--border-radius);
}

.dropdown-item svg {
	color: var(--gray-600);
}

.dropdown-item:active svg, .dropdown-item.active svg {
	color: var(--white);
}

/* QR codes */
.qr-code {
	width: 100%;
}

.qr-code-loading {
	animation: opacity-loading 1s infinite ease-in-out alternate;
}

@keyframes opacity-loading {
	0% { opacity: 1; }
	100% { opacity: .5; filter: blur(5px) }
}

.qr-code-avatar {
	width: 65px;
	height: 65px;
	border-radius: var(--border-radius);
	padding: .25rem;
	border: 1px solid var(--gray-200);
}

/* Barcodes */
.barcode-background {
	padding: .5rem;
	border-radius: var(--border-radius);
	background: white;
}

.barcode {
	width: 100rem;
	max-height: 15rem;
}

.barcode-avatar {
	background: white;
	width: 225px;
	height: 80px;
	border-radius: var(--border-radius);
	padding: .25rem;
	border: 1px solid var(--gray-200);
}

/* Footer */
.app-footer {
	margin: 3rem 0 3rem 0;
	background: var(--white);
	border: 1px solid var(--gray-200);
	border-radius: calc(2*var(--border-radius));
	padding: 1.25rem;
}

.app-footer {
	color: var(--gray-700);
}

.app-footer a:not(.dropdown-item), .app-footer a:hover:not(.dropdown-item) {
	color: var(--gray-700);
}

.app-footer a.icon {
	color: var(--gray-700);
}

.app-footer button, .app-footer button:hover {
	color: var(--gray) !important;
}

.footer-logo {
	max-height: 2.5rem;
	height: 2.5rem;
}

.app-footer-heading {
	color: var(--black) !important;
}

/* Filters */
.filters-dropdown {
	width: 18rem;
	max-height: 30rem;
	overflow-y: auto;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.modal-header {
	padding: 1rem;
	border-bottom: 0;
}

.modal-content {
	padding: 1rem;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: calc(2 * var(--border-radius));
}

/* Forms */
.input-group-text {
	font-size: 0.9rem;
}

.form-control-range {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;

	/*  slider progress trick  */
	overflow: hidden;

	/* creating a custom design */
	accent-color: var(--primary);
	background: var(--gray-200);
	border-radius: var(--border-radius);
	height: .5rem;
	margin: 0.75rem 0;
}

/* Track: webkit browsers */
.form-control-range::-webkit-slider-runnable-track, .form-control-range::-moz-range-track {
	background: var(--gray-200);
}

/* Thumb: webkit */
.form-control-range::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;

	/* creating a custom design */
	height: .75rem;
	width: .75rem;
	background-color: var(--primary);
	border-radius: 50%;
	border: 2px solid var(--white);

	/*  slider progress trick  */
	box-shadow: -2007px 0 0 2000px var(--primary-300);
}

.form-control-range::-moz-range-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;

	/* creating a custom design */
	height: .75rem;
	width: .75rem;
	background-color: var(--primary);
	border-radius: 50%;
	border: 2px solid var(--white);

	/*  slider progress trick  */
	box-shadow: -2007px 0 0 2000px var(--primary-300);
}

/* Custom breadcrumbs */
.custom-breadcrumbs {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.custom-breadcrumbs > li {
	margin-right: .5rem;
}

.custom-breadcrumbs > li > a {
	color: var(--gray);
}

.custom-breadcrumbs > li > svg {
	color: var(--gray-400);
	margin-left: .5rem;
}



/* Helper classes */
.font-size-small {
	font-size: .9rem;
}

.font-weight-500 {
	font-weight: 500;
}

.cursor-grab {
	cursor: grab !important;
}

.list-style-none {
	list-style: none;
	padding: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.appearance-none {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

img {
	vertical-align: inherit !important;
}

.icon-favicon {
	width: .95rem;
	height: auto;
}

.icon-favicon-small {
	width: .75rem;
	height: auto;
}

/* Navbar custom menu */
.navbar-nav > li {
	font-size: .9rem;
	font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.navbar-logo {
	max-height: 2.5rem;
	height: 2.5rem;
}

.navbar-logo-mini {
	max-height: 1.25rem;
	height: 1.25rem;
}

.navbar-avatar {
	width: 20px;
	height: 20px;
	border-radius: var(--border-radius);
}

.navbar-custom-toggler {
	padding: 0.5rem .8rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border-radius: var(--border-radius);
	color: var(--gray-500);
	border-color: var(--gray-300);
}

.chart-container {
	position: relative;
	margin: auto;
	height: 275px;
	width: 100%;
}

@media print {
	.chart-container canvas {
		min-height: 100%;
		max-width: 100%;
		max-height: 100%;
		height: auto!important;
		width: auto!important;
	}
}

/* Header container */
.user-avatar {
	border-radius: 50%;
	max-width: 70px;
	max-height: 70px;
}

/* Others */
.container-disabled {
	pointer-events: none;
	opacity: .5;
}

.container-disabled-simple {
	pointer-events: none;
}

/* Tables */
.table-image-wrapper {
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	max-width: 2.5rem;
	max-height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primary-100);
}

.table-custom-container {
	border-radius: var(--border-radius);
	border: 1px solid var(--gray-200);
}

.table-custom {
	margin-bottom: 0;
	background: var(--white);
}

.table-custom thead th {
	border-top: 0;
	border-bottom: 0;
	color: var(--gray);
}

.table-custom th {
    padding: 1rem 1.25rem;
	font-size: .9rem;
}

[data-theme-style="dark"] .table-custom thead th {
	color: var(--gray-800)
}

.table-custom td {
	padding: 1.25rem 1.25rem;
	vertical-align: middle;
}

.table-custom tbody tr td {
	border-top: 1px solid var(--gray-200);
}

[data-theme-style="dark"] .table-custom tbody tr td {
	border-color: var(--gray-200)
}

.table-custom tbody tr {
	transition: all .3s ease-in-out;
}

.table-custom tbody tr:hover td {
}

.pricing-tag {
	position: absolute;
	font-size: 80%;
	font-weight: 600;
	background: var(--gray-600);
	color: var(--gray-50);
	padding: 0.1rem 0.8rem;
	border-radius: var(--border-radius);
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* Custom Radio Boxes */
.custom-radio-box {
	cursor: pointer;
}

.custom-radio-box .custom-radio-box-main-text {
	font-size: 1.15rem;
	font-weight: bold;
}

.custom-radio-box .custom-radio-box-main-icon {
	font-size: 1.25rem;
}

.custom-radio-box input[type="radio"] + div {
	transition: all .3s ease-in-out;
	border: 1px solid var(--gray-200);
	background: var(--white);
}

.custom-radio-box input[type="radio"]:checked + div {
	border: 1px solid var(--primary);
}

.custom-radio-box input[type="radio"]:hover + div {
	border: 1px solid var(--primary);
}


/* Round circles */
.round-circle-md {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.round-circle-lg {
	width: 4.5rem;
	height: 4.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}



/* Invoice css */
.invoice-table th {
	border-top: 0 !important;
}

.invoice-table td {
	vertical-align: baseline !important;
}

@media print {
	.invoice-logo {
		filter: grayscale(100%);
	}
}

/* Base animation */
.altum-animate {
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
}

.altum-animate-fill-both {
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

.altum-animate-fill-none {
	-webkit-animation-fill-mode:none;
	animation-fill-mode:none;
}

@keyframes fadeIn{
	0% {
		opacity:0
	}
	to {
		opacity:1
	}
}
.altum-animate-fade-in {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}



/* Custom button */
.btn-custom {
	padding: .5rem 1.5rem;
	color: var(--gray-600);
	border-radius: var(--border-radius);
	border: 1px solid var(--gray-200) !important;
	font-size: .9rem;
	font-weight: 500;
	background: var(--white);
	transition: background .3s;
}

.btn-custom:hover {
	color: var(--gray-800);
	border: 1px solid var(--gray-200);
	background: var(--gray-200);
}

.btn-custom.active {
	color: var(--gray-800);
	border: 1px solid var(--gray-200);
	background: var(--gray-200);
}

/* Blog */
.blog-post-image {
	max-height: 20rem;
	object-fit: cover;
}

.blog-post-image-small {
	height: 13rem;
	max-height: 13rem;
	object-fit: cover;
}

.blog-post-content {
	line-height: 1.75;
	word-break: break-word;
}

.blog-post-content p {
	margin-bottom: 1.5rem;
}

/* Helper for quill editor code block */
.ql-code-block {
	background-color: var(--gray-200);
	color: var(--gray-600);
	padding: 1rem;
	border-radius: var(--border-radius);
	overflow-x: auto;
	font-family: 'Courier New', Courier, monospace;
	white-space: pre;
	font-size: .9rem;
	line-height: 1.5;
}

.ql-content p {
	margin-bottom: 0 !important;
}

.ql-content li[data-list="bullet"] {
	list-style-type: disc;
}

blockquote {
	border-left: 4px solid var(--gray-400);
	padding: 1rem 1.5rem;
	margin: 1.5rem 0;
	background-color: var(--gray-100);
	font-style: italic;
	color: var(--gray-600);
	font-size: 1.1rem;
	line-height: 1.6;
	border-radius: var(--border-radius);
}
/* File input */
.altum-file-input {
	padding: 1rem;
	background: var(--gray-100);
	border: 1px solid var(--gray-200);
	border-radius: var(--border-radius);
	cursor: pointer;
	font-size: .9rem;
}

.altum-file-input:hover {
	border-color: var(--gray-300);
}

.altum-file-input::file-selector-button {
	border: 0;
	padding: .4rem .75rem;
	border-radius: var(--border-radius);
	background-color: var(--white);
	cursor: pointer;
	font-size: .9rem;
	margin-right: 1rem;
}

/* File input preview */
.altum-file-input-preview {
	max-width: 100%;
	max-height: 68px;
	min-height: 68px;
	object-fit: cover;
}

.sticky {
	position: sticky !important;
	top: 1rem;
	height: min-content;
}

/* Icons on links animations */
a svg {
	transition: transform .15s;
}

a:hover svg {
	transform: scale(1.1);
}

a:active svg {
	transform: scale(.9);
}

/* Helper zoom class for icons */
.icon-zoom-animation svg {
	transition: transform .15s;
}

.icon-zoom-animation:hover svg {
	transform: scale(1.1);
}

/* Self zoom */
.zoom-animation {
	transition: transform .15s;
}

.zoom-animation:hover {
	transform: scale(1.05);
}

.zoom-animation:active {
	transform: scale(.95);
}

.zoom-animation-subtle {
	transition: transform .3s;
}

.zoom-animation-subtle:hover {
	transform: scale(1.025);
}

.zoom-animation-subtle:active {
	transform: scale(.98);
}

.up-animation {
	transition: transform .3s;
}

.up-animation:hover {
	transform: translateY(-10px);
}

/* Color picker */
@media print {
	.pcr-app {
		display: none;
	}
}

.pcr-button {
	border: 1px solid white !important;
	outline: 1px solid var(--gray-300) !important;
	height: calc(var(--input-padding-y) + var(--input-padding-x) + var(--input-font-size) + calc(var(--input-font-size) / 2.75)) !important;
	border-radius: var(--border-radius) !important;
	width: 100% !important;
}

.pcr-button::before, .pcr-button::after {
	border-radius: var(--border-radius) !important;
}

/* Width fit content */
.w-fit-content {
	width: fit-content !important;
}

/* Ajax loading overlay */
.loading-overlay {
	padding: 1.25rem;
	border-radius: var(--border-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--white);
	z-index: 100;
	opacity: 0.8;
}

[data-theme-style="dark"] .loading-overlay {
	background: var(--gray-50);
}

/* Shiki code highlighter */
.shiki {
	overflow: auto;
	border-radius: var(--border-radius);
	padding: 1.5rem;
	font-size: .9rem;
	line-height: 1.5rem;
}

.shiki code {
	background: initial !important;
}

/* Btn group */
.btn-group-custom {
	border: 1px solid var(--gray-100);
	padding: 0.5rem 0;
	border-radius: var(--border-radius);
	flex-wrap: wrap;
	display: inline-flex;
	gap: 0.5rem;
}

.btn-group-custom .btn {
	border-radius: var(--border-radius) !important;
	background: var(--gray-100);
}

.btn-group-custom .btn.active {
	background: var(--dark);
	color: var(--white);
}

/* Custom scrollbar */
body * {
    scrollbar-color: var(--gray-200) var(--white) !important;
    scrollbar-width: thin !important;
}

body *::-webkit-scrollbar-thumb  {
    background: var(--gray-200);
    border-radius: 10px;
    width: 6px;
    height: 6px;
}

body *::-webkit-scrollbar, body *::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
    width: 6px;
    height: 6px;
}

/* Notification bell */
.internal-notification-icon {
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px var(--danger);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}

/* Teams */
.team-user-avatar {
	width: 45px;
	height: 45px;
}

.team-delegate-access-wrapper {
	margin: .75rem;
	border-radius: .5rem;
}

@media (min-width: 992px) {
	.team-delegate-access-wrapper {
		border-radius: 5rem;
	}
}

/* Announcements */
.announcement-wrapper {
	margin: .75rem;
	border-radius: .5rem;
	opacity: 0;
	transition: opacity .3s ease-in;
	animation: ac-fade-in-down .3s ease-in .6s forwards;
}

@media (min-width: 992px) {
	.announcement-wrapper {
		border-radius: 5rem;
	}
}

@keyframes ac-fade-in-down {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* PWA */
.pwa-wrapper {
	position: fixed;
	bottom: 0;
	width: calc(100% - 1.5rem);
	z-index: 1000;
	background: hsla(0, 0%, 90%, 50%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

[data-theme-style="dark"] .pwa-wrapper {
	background: hsla(0, 0%, 22%, 50%);
}



.rounded-2x {
	border-radius: calc(2*var(--border-radius));
}

.rounded-3x {
	border-radius: calc(3*var(--border-radius));
}

/* Pointer events */
.pointer-events-all {
	pointer-events: all !important;
}

/* Prevent fontawesome layout shifts */
i.fa-fw {
	width: 1.25em;
	display: inline-block;
}

i.fa-xs {
	font-size: .85em;
}

i.fa-sm {
	font-size: .875em;
}

i.fa-lg {
	font-size: 1.25em;
}

i.xl {
	font-size: 1.5em;
}

/* Ratings */
.rating-star {
	cursor: pointer;
}

.rating-star svg {
	color: #ffc107;
	transition: color .15s;
}

.rating-star:hover svg,
.rating-star:hover ~ .rating-star svg
{
	color: #ff8800 !important;
}

.rating-star-chosen svg,
.rating-star-chosen ~ .rating-star svg
{
	color: #dd6200;
}
